<!-- Template für die Übersichtsseite (nach erfolgreicher Anmeldung) -->
<div id="welcome">
    <h1> DEINE BILDER, DEIN MOSAIK.</h1>
</div>

<div id="tripleSectionWrapper">
    <div id="textWrapper">
        <div id="motiveWrapper" class="sectionWrapper">

        </div>
        <div id="sectionMotive">Schritt 1: Lade ein Basismotiv hoch</div>
    </div>
    <div id="textWrapper">
        <div id="poolWrapper" class="sectionWrapper">
        </div>
        <div id="sectionPool">Schritt 2: Erstelle einen Pool an Kachelbildern</div>

       
    </div>
    <div id="textWrapper">
            <div id="mosaicWrapper" class="sectionWrapper">

                </div>
        <div id="sectionMosaic">Schritt 3: Generiere dein Mosaik</div>
    </div>
</div>
</br>
<input type="button" value="Nutzer löschen" id="deleteUser">