<!-- Template für die Übersichtsseite (nach erfolgreicher Anmeldung) -->
<div id="welcome">
    <h1> Willkommen bei Picx!</h1>
</div>

<div id="tripleSectionWrapper">
    <div id="motiveWrapper" class="sectionWrapper">
        <div id="sectionMotive">Motive</div>
    </div>

    <div id="poolWrapper" class="sectionWrapper">
        <div id="sectionPool">Pools</div>
    </div>

    <div id="mosaicWrapper" class="sectionWrapper">
        <div id="sectionMosaic">Mosaik</div>
    </div>
</div>

<input type="button" value="Nutzer löschen" id="deleteUser">