<!-- Template für die Basismotivseite -->
<div id="titleImages">
    Hier kannst du neue Basismotive hochladen und diese zu Sammlungen hinzufügen
</div>

<div id="newImageWrapper">
    <div class="title">Neues Bild hochladen:</div>

    <form id="imageUploadForm" enctype="multipart/form-data">
        <fieldset>
            <input type="file" name="newImg" id="newImg" multiple="multiple">
            </br></br>
            <input type="button" name="newImgSubmit" id="newImgSubmit" value="Bild hochladen">
        </fieldset>
    </form>


</div>



<div id="newImageSetWrapper">
    <div class="title">Neue Sammlung anlegen:</div>
    <form id="imageSetForm">
            <fieldset>
        <label>Name deiner neuen Motivsammlung:</label>
        <input type="text" name="imgSetName" id="imgSetName" />
        <input type="button" name="newImgSetSubmit" id="newImgSetSubmit" value="Sammlung erstellen">
        </fieldset>
    </form>

</div>

<div id="imageSetWrapper">
    <div class="title"> Eigene Sammlungen:</div>
    <!-- hier per range alle dem Nutzer zugeordneten Sammlungen auflisten 
        (Name/Button um die Sammlung aufzurufen)-->
</div>