<!-- Template für die Basismotivseite -->
<div id="titleImages">
    Wähle eine Motivsammlung um weitere Bilder hinzuzufügen oder erstelle eine neue Sammlung:
</div>


<div id="imageSetWrapper">
    <div class="title"> Wähle eine Sammlung:</div>
    <!-- hier per range alle dem Nutzer zugeordneten Sammlungen auflisten 
            (Name/Button um die Sammlung aufzurufen)-->
    {{ range .ImgSets}}
    <input type="button" name="showSet" id="showSet" class="setButtons" value="{{.SetName}}">
    </br>
    {{end}}



</div>

<div id="newImageSetWrapper">
    <div class="title">Oder lege eine neue Sammlung an:</div>
    <form id="imageSetForm">
        <fieldset>
            <label>Name deiner neuen Motivsammlung:</label>
            <input type="text" name="imgSetName" id="imgSetName" />
            <input type="button" name="newImgSetSubmit" id="newImgSetSubmit" value="Sammlung erstellen">
        </fieldset>
    </form>
</div>