<!-- Template für die Loginseite -->
<div id="inputWrapper">
    <h2>Anmelden</h2>
    <form id="loginForm">
        <label class="labels">Nutzername</label>
        <input class="inputs" type="text" name="usernameInput" id="usernameInput" />
        </br>
        <label class="labels">Passwort</label>
        <input class="inputs" type="password" name="passwordInput" id="passwordInput" />
    </form>

    <div id="submit">
        <input type="button" class="loginButton" value="Anmelden" id="loginButton">
        <input type="button" value="Neues Konto Erstellen" id="changeToRegister">
    </div>
</div>



<div id="errorOutput"></div>