<!-- Basis-Template, in welches alle anderen Templates eingesetzt werden -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Picx</title>

    <div id="scripts">
        <link rel="stylesheet" type="text/css" href="styles/picx.css">
        <script src="js/picx.js"></script>
    </div>

</head>

<body>
    <nav id="header">
        <div id="logo">PICX.</div>
        <div id="logout"></div>
    </nav>
    </br>
    <div id="template">
        <div id="inputWrapper">
            <h2>Anmelden</h2>
            <form id="loginForm">
                <label class="labels">Nutzername</label>
                <input class="inputs" type="text" name="usernameInput" id="usernameInput" />
                </br>
                <label class="labels">Passwort</label>
                <input class="inputs" type="password" name="passwordInput" id="passwordInput" />
            </form>

            <div id="submit">
                <input type="button" class="loginButton" value="Anmelden" id="loginButton">
                <input type="button" value="Neues Konto Erstellen" id="changeToRegister">
            </div>
        </div>



        <div id="errorOutput"></div>

    </div>

</body>

</html>