<!-- Basis-Template, in welches alle anderen Templates eingesetzt werden -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Picx</title>

    <div id="scripts">
        <link rel="stylesheet" type="text/css" href="styles/picx.css">
        <script src="js/picx.js"></script>
    </div>

</head>

<body>
    <div id="header">
        <div id="logo">PICX</div>
    </div>

    <div id="template">
        <h2>Anmelden</h2>

        <div id="inputWrapper">
            <form id="loginForm">
                <label>Nutzername</label>
                <input class="inputs" type="text" name="usernameInput" id="usernameInput" />
                </br>
                <label>Passwort</label>
                <input class="inputs" type="text" name="passwordInput" id="passwordInput" />
            </form>
        </div>
        
        <div id="submit">
            <input type="button" class="button" value="Anmelden" id="loginButton">
            <input type="button" value="Neues Konto Erstellen" id="changeToRegister">
        </div>
        
        <div id="errorOutput"></div>
        
    </div>

</body>

</html>