<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Picx</title>
    <link rel="stylesheet" type="text/css" href="styles/picx.css">
</head>

<body>
    <div id="header">
        <div id="logo">PICX</div>
    </div>
    <h1>PICX</h1>

    <div id="login">
        <div id="inputWrapper">
            <label>Nutzername</label>
            <input type="text" name="usernameInput" id="usernameInput" />
            <label>Passwort</label>
            <input type="text" name="passwordInput" id="passwordInput" />
        </div>
        <div id="submit">
            <input type="button" class="button" value="Anmelden">
            <input type="button" class="button" value="Registrieren">
        </div>
    </div>

</body>

</html>