<!-- Template für die Registrierungsseite -->



<div id="inputWrapper">
    <h2>Neues Konto erstellen: </h2>
    <form id="registerForm">
        <label class="labels">Nutzername</label>
        <input class="inputs" type="text" name="usernameInput" id="usernameInput" />
        </br>
        <label class="labels">Passwort</label>
        <input class="inputs" type="password" name="passwordInput" id="passwordInput" />
    </form>


    <div id="submit">
        <input type="button" class="loginButton" value="Registrieren" id="registerButton">
        <input type="button" value="Zurück zum Login" id="changeToLogin">
    </div>
</div>
<div id="characters">
    <p>
        Nutzername/Passwort mind. 6 Zeichen:  </br>
        a-z, A-Z, 0-9, keine Sonderzeichen
    </p>
</div>

<div id="errorOutput"></div>