<!-- Template für die Darstellung eines einzelnen Pools -->
<input type="button" name="backToPools" id="backToPools" value="Zurück">

<div id="titleImages">Pool: {{.Name}}</div>

<div id="flexRow">
    <div id="newPoolImgWrapper">
        <div class="title">Füge deinem Pool ein Bild hinzu:</div>
        <form id="imageUplForm" enctype="multipart/form-data">
            <fieldset>
                <input type="file" name="newImg" id="newImg" multiple>

                </br></br>
                <input type="button" name="newImageSubmit" id="newImageSubmit" value="Bild hochladen">
            </fieldset>
        </form>
    </div>

    <div id="deleteOriginalsWrapper">
        <div class="title">Hier kannst du die Originale deiner Kacheln löschen:</div>
        <input type="button" name="deleteOriginals" id="deleteOriginals" value="Originale löschen">
    </div>

    <div id="showImages">
        <div class="title">Deine bisherigen Bilder:</div>
        </br>
        {{ range .Images}}
        <img alt="" src={{.URL}}>
        {{end}}

    </div>
</div>