html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 1.2em;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


/* ----------------------- Header -----------------------*/

#header {
    font-size: 2em;
    color: black;
    background-color: rgb(131, 212, 212);
    margin-bottom: 30px;
}


/* ----------------------- Elemente der login und registration templates -----------------------*/
#errorOutput {
    margin: 40px auto;
    background-color: rgb(224, 165, 165);
    width: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;  
}

#inputWrapper{
    margin: 0px auto;
    width: 300px;
}

.inputs{
    float:right;
}

.button{
    width: 100px;
    height: 40px;
    font-size: 1.5em;
}

#changeToRegister{
    border: none;
    background:none;
    padding:0;
    font-size: 0.5em;
    margin-left: 10px;
    color: red;
}

#changeToLogin{
    border: none;
    background:none;
    padding:0;
    font-size: 0.5em;
    margin-left: 10px;
    color: red;
}

#submit{
    width: 230px;
    margin: 30px auto;
}

h2{
    text-align: center;
    vertical-align: middle;
    line-height: 90px;  
}

#characters{
    font-size: 0.7em;
    background-color: rgb(236, 234, 234);
    border: 1px solid rgb(66, 66, 66);
    width: 350px;
    margin: 30px auto;
    text-align: center;
    vertical-align: middle;
}



/* ----------------------- Elemente des home-Templates -----------------------*/

#tripleSectionWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sectionWrapper{
    width: 200px;
    height: 200px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;  
}

#motiveWrapper{
    background-color: rgb(146, 238, 226);
}

#poolWrapper{
    background-color: rgb(73, 211, 221);
}

#mosaicWrapper{
    background-color: rgb(26, 101, 145);
}


/* ----------------------- Elemente des images-Templates -----------------------*/
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#newImageSetWrapper, #imageSetWrapper, #newImageWrapper{
    margin-left: 20px;
}

#titleImages {
    text-align: center;
    vertical-align: middle;
    width: 70%;
    margin: 0 auto;
    font-size: 1.4em;
}

#newImageWrapper{
    margin-top: 50px;
}

#imageUploadForm{
    margin:20px auto;
    width: 80%;
}


